{% extends 'news_portal/default.html' %}

{% load profanity_filters %}

{% block title %}about{% endblock title %}

{% block content %}
<div class="features">
 <h3>В гостях у сказки</h3>

  <p>Новости в России и мире, самая оперативная информация: темы дня, обзоры, анализ. Фото и видео с места событий, инфографика, радиоэфир, подкасты.</p>
  <p>Цифровые и информационные технологии в жизни и бизнесе. Новости, аналитика, обзоры и прогнозы рынка ИТ и телекоммуникаций.</p>
   <p>Покупая эти (отличные) вещи, вы поддерживаете работу нашей редакции  <a href="http://127.0.0.1:8000/products/">перейти в магазин</a></p>

</div>
{% endblock content %}
